<!DOCTYPE html>
<html>
<head>
	<!-- third party -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- first party -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<title>CanIEatThis</title>
</head>

<body>
	<div class="master-container" ng-app="CanIEatThisApp" ng-controller="SearchController">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-left" href="#">
						<img class="img-responsive" src="" alt="Brand">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Scan <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Places to Eat</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">About</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div id="search" class="center-block">
			<input class="form-control" type="text" pattern="[0-9]*" placeholder="Barcode" autofocus ng-model="search" 
			ng-model-options="{ debounce: 800 }" ng-trim="false">
		</div><!-- /#search -->

		<h3><strong>{{ name }}</strong></h3>

		<table class="table table-responsive table-bordered">
			<tr>
				<td class="col-md-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="lactoseCheckbox">
							Lactose Free
						</label>
					</div>
				</td>
				<td class="col-md-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="vegetarianCheckbox">
							Vegetarian
						</label>
					</div>
				</td>
				<td class="col-md-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="veganCheckbox">
							Vegan
						</label>
					</div>
				</td>
				<td class="col-md-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="glutenCheckbox">
							Gluten Free
						</label>
					</div>
				</td>
			</tr>
		</table>

		<div class="panel panel-default">
			<div class="panel-heading">Ingredients</div>
			<div class="panel-body">
				{{ ingredients }}
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Traces</div>
			<div class="panel-body">
				{{ traces }}
			</div>
		</div>
	</div>
</div><!-- /.master-container -->

<!-- firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
  	apiKey: "AIzaSyCd2k9-sKveFH5MTyHY3dVr4mu2SYHFtDk",
  	authDomain: "canieatthis.firebaseapp.com",
  	databaseURL: "https://canieatthis.firebaseio.com",
  	storageBucket: "firebase-canieatthis.appspot.com",
  	messagingSenderId: "823859253212"
  };
  firebase.initializeApp(config);
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

<script src="./script/helpers.js"></script>
<script src="./script/search.js"></script>
</body>
</html>